Flask==0.10.1
Flask-RESTful==0.3.1
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
M2Crypto==0.21.1
MarkupSafe==0.23
Pillow==2.6.1
Pygments==2.0.1
SOAPpy==0.12.22
SQLAlchemy==0.9.8
Werkzeug==0.10.1
aniso8601==0.92
arandr==0.1.7.1
argparse==1.2.1
cffi==0.8.6
chardet==2.3.0
cryptography==0.6.1
dblatex==0.3.5-2
defusedxml==0.4.1
docutils==0.12
eyeD3==0.6.18
fpconst==0.7.2
greenlet==0.4.2
irc==0.0.08.5.3
itsdangerous==0.24
mercurial==3.1.2
mutagen==1.25.1
numpy==1.8.2
ply==3.4
psycopg2==2.5.4
pyOpenSSL==0.14
pycparser==2.10
pygobject==3.14.0
python-apt==0.9.3.11
python-dateutil==2.2
python-debian==0.1.23
python-debianbts==1.11
pytz==2014.10
pyxattr==0.5.3
reportbug==6.6.1
roman==2.0.0
six==1.9.0
virtualenv==1.11.6
virtualenvwrapper==3.4
wsgiref==0.1.2
wstools==0.4.3
